<h3>Another Page</h3>

<a href"/">Back Home</a>

<% if @page_id > 0 %>
  <a href="/second/<%= @page_id + 1 %>">
    Go to Page <%= @page_id + 1 %>
  </a>
<% end %>

<% if @page_id > 10 %>
  <a href="/second/<%= @page_id - 1 %>">
    Go back to Page <%= @page_id - 1 %>
  </a>
<% end %>
