<div class='wrap'>
  <h1> Home </h1>

  <div class="row">
    <div class="column">
      <img src="images/primus1.jpg" alt="primus1" />
    </div>

  <div class="column">
    <img src="images/primus2.jpg" alt="primus2" />
  </div>

    <div class="column">
    <img src="images/primus3.jpg" alt="primus3" />
    </div>
  </div>

    <div class="row">
    <div class="column">
      <img src="images/primus4.jpg" alt="primus4" />
    </div>

  <div class="column">
    <img src="images/primus5.jpg" alt="primus5" />
  </div>

  <div class="column">
    <img src="images/tool1.jpg" alt="tool1" />
  </div>
  </div>
  <div class="row">
  <div class="column">
    <img src="images/tool2.jpg" alt="tool2" />
  </div>

  <div class="column">
    <img src="images/tool3.jpg" alt="tool3" />
  </div>

  <div class="column">
    <img src="images/tool4.jpg" alt="tool4" />
  </div>
</div>
</div>
