<!DOCTYPE html>
<html>
  <head>
    <title>Justin Veirs | Portfolio</title>
    <link rel="stylesheet" href="css/portfolio.css">
    <body>
      <div>
        <nav>
        <a href="/home">home page</a>
        <a href="/about">about</a>
        <a href="/resume">resume</a>
      </nav>
      </div>

        <%= yield %>

  </body>
</html>
