<h1>Resume</h1>

<h1>Jusitn Veirs </h1>
	<address>
		Justin Veirs 18 Poplar Tree Court.<br/>
		Front Royal, Virginia 22630
	</address>
  <div>
<h2>QUALIFICATIONS SUMMARY</h2>
	<div>
    <p>Talents in financial data collection, analysis, and assimilation
			 Exceptional ability to develop resource cost and pricing estimates
			 Excellent communications and interpersonal skills
			 Ability to work effectively under tight deadlines
			 Detail-oriented, dedicated, and self-motivated
		   Customer-focused, creative, and innovative problem solver
		   Proven project manager and team player
		   Proficient in MS Excel, Access, Word, and PowerPoint
		   Experience with Visual basic and COBOL</p>
	</div>

<h2>PROFESSIONAL HISTORY:</h2>

<h2>Product Service Associate</h3>
<h3>Lowe’s Home Improvement, Manassas, VA 01/2011-05-2014</h3>
	<ol>
		<ul>Provide store support and product maintenance; complete management requests from vendors to relocate products to increase sales; conduct quality and inventory control as needed; ensure operational readiness of displays, & provide customer assistance</ul>
		<ul>Track, communicate, and assist in resolving safety issues</ul>
		<ul>Consistently meet project deadlines to achieve or exceed sales expectations</ul>
	</ol>

<h2>Client Service Associate</h2>
<h3>Citigroup Smith Barney, Bethesda, MD, 06/2005-10/2008</h3>
	<ol>
		<ul>Supported the brokerage team with portfolios, master-limited partnerships, mutual funds, and tax-free municipal bonds</ul>
		<ul>Collected, analyzed, and aggregated financial data and critiqued investment models</ul>
		<ul>Examined and defined portfolio management strategies to ensure ongoing investment goals</ul>
		<ul>Created monthly marketing and rate information mailers</ul>
		<ul>Contacted clients regularly to manage relationships and expectations and tracked transactions for customer accounts</ul>
	</ol>

<h2>Education, Professional Development Programs, and Awards~</h2>
 <ul>The Citadel, Charleston, SC , BS, Business Administration – May 2004 Study focus:  Business Finance, Financial & Managerial Accounting, Strategic Management, Marketing, Communications, Risk Management & Insurance</ul>
 <ul>The Citadel awards and activities: Harold K. Clubb Award, class board of directors member, charity fundraising</ul>
