<!DOCTYPE html>
<html>
  <head>
    <title>All About Cats</title>
    <link rel="stylesheet" href="/css/cats.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="wrap">
      <nav>
        <a href="/home">home page</a>
        <a href="/first">first page</a>
        <a href="/second">second page</a>
        <a href="/me">me page</a>
      </nav>
      <%= yield %>  
    </div
  </body>
</html>
