#wrap {
  width: 980px;
  margin: 0 auto;
}
#wrap h1 {
  font-weight: 300;
  font-family: Helvetica;
  text-align: center;
  border-bottom: 1px solid #333333;
}
.image {
  border: 1px solid #333333;
  padding: 8px;
  width: 250px;
  height: auto;
  font-size: 0;
  float: left;
  margin-right: 10px;
}
.image img {
  width: 100%;
}
