<form action="/about" method="post">
  <p>
    <label>Name:</label>
    <input type="text" value="" name="name" />
  </p>
  <p>
    <label>Age:</label>
    <input type="text" value="" name="age" />
  </p>
  <p>
    <label>Programming Language</label></b />
    <select name="language">
        <option value="Ruby">Ruby</option>
        <option value="Javascript">JavaScript</option>
        <option value="Whitespace"> </option>
        <option value="BrainFuck"><<>>+\|</option>
    </select>
  </p>
  <p>
    <label>Bio:</label><br />
    <textarea name="bio" rows="8" cols="40"></textarea>
  </p>

  <input type="submit" value="Send Data" />
</form>
